
@{
    ViewBag.Title = "DangKy";
    Layout = "~/Views/Shared/NguoiDung.cshtml";
}
@model DoAn.Models.Model.NguoiDung.KhachHangModel
<div class="row">
    <div class="col-xl-2 col-lg-2 col-md-2 col-0"></div>
    <div class="col-xl-8 col-lg-8 col-md-8 col-12 dangky-taikhoan">
        <div class="dk-title">
            <span>ĐĂNG KÝ TÀI KHOẢN</span>
        </div>
        @using (Html.BeginForm("DangKy", "Login", FormMethod.Post))
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <hr />
                @if (ViewBag.Success != null)
                {
                    <div class="alert alert-success">@ViewBag.Success</div>
                }
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group row">
                    <div class="col-md-3">
                        @Html.LabelFor(model => model.HoTen, htmlAttributes: new { @class = "control-label" })
                        <span class="cannhap">*</span>
                    </div>
                    

                    <div class="col-md-9">
                        @Html.EditorFor(model => model.HoTen, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.HoTen, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-md-3">
                        @Html.LabelFor(model => model.SDT, htmlAttributes: new { @class = "control-label" })
                        <span class="cannhap">*</span>
                    </div>
                    
                    <div class="col-md-9">
                        @Html.EditorFor(model => model.SDT, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.SDT, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-md-3">
                        @Html.LabelFor(model => model.TenDangNhap, htmlAttributes: new { @class = "control-label" })
                        <span class="cannhap">*</span>
                    </div>
                    
                    <div class="col-md-9">
                        @Html.EditorFor(model => model.TenDangNhap, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.TenDangNhap, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-md-3">
                        @Html.LabelFor(model => model.MatKhau, htmlAttributes: new { @class = "control-label" })
                        <span class="cannhap">*</span>
                    </div>
                    
                    <div class="col-md-9">
                        @Html.PasswordFor(model => model.MatKhau, new { htmlAttributes = new { @class = "form-control" }, @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.MatKhau, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-md-3">
                        @Html.LabelFor(model => model.XacNhanMatKhau, htmlAttributes: new { @class = "control-label" })
                        <span class="cannhap">*</span>
                    </div>
                    
                    <div class="col-md-9">
                        @Html.PasswordFor(model => model.XacNhanMatKhau, new { htmlAttributes = new { @class = "form-control" }, @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.XacNhanMatKhau, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-md-3">
                        @Html.LabelFor(model => model.DiaChi, htmlAttributes: new { @class = "control-label" })
                        <span class="cannhap">*</span>
                    </div>
                   
                    <div class="col-md-9">
                        @Html.EditorFor(model => model.DiaChi, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.DiaChi, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-md-3">
                        @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label" })
                        <span class="cannhap">*</span>
                    </div>
                   
                    <div class="col-md-9">
                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-xl-5 col-lg-5 col-md-5 col-4"></div>
                    <div class="col-xl-2 col-lg-2 col-md-2 col-4">
                        <input type="submit" value="Đăng Ký" class="btn btn-primary" />
                    </div>
                    <div class="col-xl-5 col-lg-5 col-md-5 col-4"></div>
                </div>
            </div>
        }
    </div>

</div>
<br />





