
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/NguoiDung.cshtml";
}

<main>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-xs-12  col-sm-12 col-12">
                <img src="~/Content/images/banner-sanpham.jpg" width="100%" />
            </div>
        </div>
    </div>
    <div class="main-sp">
        <div class="container">
            @Html.Action("Latte", "SanPham")

            @Html.Action("DacBietEstore", "SanPham")

            @Html.Action("TraSua", "SanPham")

            @Html.Action("TraNguyenChat", "SanPham")

            @Html.Action("SangTao", "SanPham")

            @Html.Action("DaXay", "SanPham")

            @Html.Action("Topping", "SanPham")

        </div>
    </div>
</main>


