
@{
    ViewBag.Title = "ThongTinTaiKhoan";
    Layout = "~/Views/Shared/NguoiDung.cshtml";
}

@model DoAn.Models.Model.NguoiDung.KhachHangModel

<div class="container">
    <div class="row">
        <div class="col-xl-1 col-md-1"></div>
        <div class="col-xl-6 col-md-6">
            @using (Html.BeginForm("ThongTinTaiKhoan", "Home", FormMethod.Post))
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    <div class="dmk-title">
                        <div class="dmkt-1">THÔNG TIN TÀI KHOẢN</div>

                    </div>
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @if (ViewBag.ThongTinTaiKhoan != null)
                    {
                        <div class="alert alert-success">@ViewBag.ThongTinTaiKhoan</div>
                    }


                    <div class="form-group row">
                        @Html.LabelFor(model => model.UserName, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
                            @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group row">
                        @Html.LabelFor(model => model.HoTen, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.HoTen, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.HoTen, "", new { @class = "text-danger" })
                        </div>
                    </div>


                    <div class="form-group row">
                        @Html.LabelFor(model => model.DiaChi, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.TextBoxFor(model => model.DiaChi, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.DiaChi, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group row">
                        @Html.LabelFor(model => model.SDT, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.TextBoxFor(model => model.SDT, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.SDT, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">Đổi mật khẩu</div>
                        <div class="col-md-8">
                            <a href="/Home/DoiMatKhau" class="btn btn-primary">đổi mật khẩu</a>
                        </div>

                    </div>
                    <br />
                    <div class="form-group row">
                        <div class="col-xl-4"></div>

                        <div class="col-md-offset-2 col-xl-4">
                            <input type="submit" value="Lưu" class="btn btn-success" />
                        </div>
                        <div class="col-xl-4"></div>
                    </div>
                </div>
            }

        </div>
        <div class="col-xl-5 col-md-5"></div>
    </div>
</div>


