
@{
    ViewBag.Title = "DanhSachHoaDon_NhanVien";
    Layout = "~/Views/Shared/NhanVien.cshtml";
}
@model List<DoAn.Models.Model.NhanVien.HoaDonBanModel>
<div class="container">
    <br />
    <div>
        <h5>Danh sách hóa đơn online</h5>
    </div>
    <hr />
    <table class="table  table-bordered">
        <thead width="100%">
            <tr>

                <th width="5%">STT</th>
                <th width="10%">Họ tên</th>
                <th width="20%">Địa chỉ</th>
                <th width="15%">Số điện thoại</th>
                <th width="10%">Tổng tiền</th>
                <th width="10%">Duyệt</th>
                <th width="10%">Thanh Toán</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>

                <td width="5%" class="table-center"><span> @item.STT</span></td>
                <td width="10%"> <span></span>@item.HoTen</td>
                <td width="20%"> <span></span>@item.DiaChi</td>
                <td width="10%" class="table-center"> <span></span>@item.SDT</td>
                <td width="10%" class="table-center"> <span></span>@String.Format("{0:0,0}", @item.TongTien)đ</td>
                <td width="10%" class="table-center">
                    @if (item.Status == 0)
                    {
                        <a href="/BillNhanVien/ChiTietHoaDon_Online?mahoadon=@item.Id" class="btn btn-primary">Duyệt</a>
                    }
                    else
                    {
                        <span class="btn btn-success">Đã duyệt</span>
                    }

                </td>
                <td width="10%" class="table-center">
                    @if (item.DaThanhToan == 0)
                    {
                        <a href="/BillNhanVien/SuaThanhToanOnline_NhanVien?mahdb=@item.Id" class="btn btn-primary">Thanh toán</a>
                    }else{
                        <span class="btn btn-success">Đã thanh toán</span>
                    }

                </td>
            </tr>
            }

        </tbody>


    </table>
    <div class="gh-bottom">
        <a href="/HomeNhanVien/Index" class="btn btn-success">Tiếp tục bán hàng</a>

    </div>
</div>


