
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/NguoiDung.cshtml";
}

@model List<DoAn.Models.Model.NguoiDung.GioHangModel>
<div class="container">
    <table class="table  table-responsive">
        <thead width="100%">
            <tr>

                <th width="20%"> Tên sản phẩm</th>
                <th width="10%"> Hình ảnh</th>
                <th width="10%">  Số lượng</th>
                <th width="10%"> Đơn giá</th>
                <th width="15%"> Thành tiền</th>
                <th width="25%"> Mô tả</th>
                <th width="20%">Chức năng</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>

                <td width="20%"><span class="cl-cart-tensp"> @item.TenSanPham</span></td>
                <td width="10%">  <img src="@Url.Content("~/Content/images/"+@item.Anh)" alt="" width="100" height="100" /></td>

                <td width="10%" class="cl-center">
                    <button class="btn-cl-tru" onclick="UpdateTru(@item.MaSanPham, @item.SanPhamThu)">-</button>
                    <input type="text" name="@item.MaSanPham" value="@item.SoLuong" id="SoLuong_@item.MaSanPham" disabled class="cl-input-soluong" />
                    <button class="btn-cl-cong" onclick="UpdateCong(@item.MaSanPham, @item.SanPhamThu)">+</button>
                </td>


                <td width="10%" class="cl-center"> @String.Format("{0:0,0}", @item.GiaBan)đ</td>

                <td width="10%" class="cl-center">@String.Format("{0:0,0}", @item.ThanhTien)đ</td>
                <td width="25%">@item.MoTa</td>
                
                <td width="20%" class="cl-center">
                    <button class="btn btn-danger" onclick="DeleteCart(@item.MaSanPham, @item.SanPhamThu)">Xóa</button>

                </td>
            </tr>
            }

        </tbody>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td class="cl-center"><span>Tổng Tiền</span></td>
            <td class="cl-center">
                <span>@String.Format("{0:0,0}", @Model.Sum(x => x.ThanhTien))đ</span>
            </td>
            <td></td>
            <td></td>
        </tr>

    </table>
    <div class="gh-bottom">
        <a href="/SanPham/Index" class="btn btn-success">Tiếp tục mua hàng</a>
        <a href="/Bill/CreateBill?tongtien=@Model.Sum(x=>x.ThanhTien)" class="btn btn-primary">Thanh toán</a>
    </div>
</div>


<script>
    function UpdateTru(id, sanphamthu) {
        var soluong = Number($('#SoLuong_' + id).val());
        if (soluong <= 1) {
            soluong = 1;
        }
        else {
            soluong = soluong - 1;
        }
        window.location.href = '/Cart/UpdateCart?productid=' + id + '&soluong=' + soluong + '&sanphamthu=' + sanphamthu;

    }
    function UpdateCong(id, sanphamthu) {
        var soluong = Number($('#SoLuong_' + id).val());

        soluong = soluong + 1;

        window.location.href = '/Cart/UpdateCart?productid=' + id + '&soluong=' + soluong + '&sanphamthu=' + sanphamthu;

    }
    function DeleteCart(id, sanphamthu) {
        window.location.href = '/Cart/DeleteCart?productid=' + id + '&sanphamthu=' + sanphamthu;

    }
</script>

