
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Admin.cshtml";
}
@*
    @Html.Action("DonHang", "HomeAdmin")
    @Html.Action("PhanHoi", "HomeAdmin")
    @Html.Action("KhachHangOnline", "HomeAdmin")
        @Html.Action("Top5KhachHangMuaNhieuNhat", "HomeAdmin")
    @Html.Action("TopSPBanChay", "HomeAdmin")*@
<div class="container-fluid">

    <!-- Page Heading -->
    <!-- Content Row -->
    <div class="row">

        <!-- Earnings (Monthly) Card Example -->
        @Html.Action("TongDoanhThu", "HomeAdmin")

        <!-- Earnings (Monthly) Card Example -->
        @Html.Action("DonHang", "HomeAdmin")

        <!-- Earnings (Monthly) Card Example -->
        @Html.Action("PhanHoi", "HomeAdmin")

        <!-- Pending Requests Card Example -->
        @Html.Action("KhachHangOnline", "HomeAdmin")
    </div>
    <hr />
    <br />
    <div class="row">
        <div class="col-md-6">
            @Html.Action("TopSPBanKhongChay", "HomeAdmin") 

        </div>
        <div class="col-md-6">
            @Html.Action("TopSPBanChay", "HomeAdmin")
        </div>

    </div>

   
    

</div>