<!DOCTYPE html>
<html class="no-js" lang="zxx">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>eCommerce HTML-5 Template </title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="manifest" href="site.webmanifest">
    <link rel="shortcut icon" type="image/x-icon" href="~/Content/assets/nguoidung/img/favicon.ico">

    <!-- CSS here -->
    <link href="~/Content/assets/nguoidung/css/font-awesome.min.css" rel="stylesheet" />
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/Content/assets/nguoidung/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/assets/nguoidung/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/Content/assets/nguoidung/css/flaticon.css">
    <link rel="stylesheet" href="~/Content/assets/nguoidung/css/slicknav.css">
    <link rel="stylesheet" href="~/Content/assets/nguoidung/css/animate.min.css">
    <link rel="stylesheet" href="~/Content/assets/nguoidung/css/magnific-popup.css">
    <link rel="stylesheet" href="~/Content/assets/nguoidung/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="~/Content/assets/nguoidung/css/themify-icons.css">
    <link rel="stylesheet" href="~/Content/assets/nguoidung/css/slick.css">
    <link rel="stylesheet" href="~/Content/assets/nguoidung/css/nice-select.css">

    <link href="~/Content/assets/nguoidung/css/style.css" rel="stylesheet" />
    @*<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap" rel="stylesheet">*@
    <link href="~/Content/assets/nguoidung/css/font_googleapi.css" rel="stylesheet" />
    <script src="~/Content/assets/nguoidung/js/jquery.min.js"></script>
    @*<script language="JavaScript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.0/jquery.min.js"></script>*@
</head>

<body>

    <!-- Preloader Start -->
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="preloader-circle"></div>
                <div class="preloader-img pere-text">
                    <img src="~/Content/assets/nguoidung/img/logo/logo.png" alt="">
                </div>
            </div>
        </div>
    </div>

    <header>
        <div class="header-area">
            <div class="main-header ">
                <div class="header-bottom  header-sticky">
                    <div class="container-fluid">
                        <div class="row align-items-center">
                            <div class="col-xl-1 col-lg-1 col-md-1 col-sm-3">
                                <div class="logo">
                                    <a href="index.html"><img src="~/Content/assets/nguoidung/img/logo/logo.png" alt=""></a>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-8 col-md-7 col-sm-5">
                                <div class="main-menu f-right d-none d-lg-block">
                                    <nav>
                                        <ul id="navigation">
                                            <li><a href="/Home/Index">Trang chủ</a></li>
                                            <li><a href="/SanPham/Index">Sản phẩm</a></li>
                                            <li class="hot">
                                                <a href="/GioiThieu/Index">Giới thiệu</a>

                                            </li>
                                            <li>
                                                <a href="">Cửa hàng</a>
                                                <ul class="submenu">
                                                    <li><a href="/Login/DangNhapNhanVien">Đăng nhập nhân viên</a></li>
                                                    <li><a href="/DanhSachCuaHang/Index">Danh sách cửa hàng</a></li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="/Login/Index">Đăng nhập</a>
                                            </li>

                                        </ul>
                                    </nav>
                                </div>
                            </div>
                            <div class="col-xl-5 col-lg-3 col-md-3 col-sm-3 fix-card">
                                <ul class="header-right f-right d-none d-lg-block d-flex justify-content-between">
                                    @*<li class="d-none d-xl-block">
                                            <div class="form-box f-right ">
                                                <input type="text" name="Search" placeholder="Tìm kiếm sản phẩm">
                                                <div class="search-icon">
                                                    <i class="fas fa-search special-tag"></i>
                                                </div>
                                            </div>
                                        </li>*@

                                    <li>
                                        @Html.Action("GioHang", "Home")
                                    </li>
                                    @Html.Action("TenDangNhap", "Home")

                                    @*<li class="d-none d-lg-block"> <a href="/Login/Index" class="btn header-btn">Đăng Nhập</a></li>*@
                                </ul>
                            </div>
                            <!-- Mobile Menu -->
                            <div class="col-12">
                                <div class="mobile_menu d-block d-lg-none"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Header End -->
    </header>
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <span>Mời nhập phản hồi từ bạn</span>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>

                </div>
                <form>
                    <div class="modal-body">
                        @*<textarea class="form-control" rows="4" name="noidung-phanhoi"></textarea>*@
                        <input type="text" class="form-control" name="noidung-phanhoi" value="" id="noidung-phanhoi">
                    </div>
                </form>

                <div class="modal-footer">
                    <button class="btn btn-primary" data-dismiss="" id="btn-guiphanhoi">Gửi phản hồi</button>
                </div>
            </div>

        </div>
    </div>


    @RenderBody()

    <footer>

        <!-- Footer Start-->
        <div class="footer-area footer-padding">
            <div class="container">
                <div class="row d-flex justify-content-between">
                    <div class="col-xl-3 col-lg-3 col-md-5 col-sm-6">
                        <div class="single-footer-caption mb-50">
                            <div class="single-footer-caption mb-30">
                                <!-- logo -->
                                <div class="footer-logo">
                                    <a href="index.html"><img src="~/Content/assets/nguoidung/img/logo/logo2_footer.png" alt=""></a>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-3 col-md-3 col-sm-5">
                        <div class="single-footer-caption mb-50">
                            <div class="footer-tittle">
                                <h4>Về chúng tôi</h4>
                                <ul>
                                    <li><a href="#">Công ty</a></li>
                                    <li><a href="#">Cơ hội nghề nghiệp</a></li>

                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-7">
                        <div class="single-footer-caption mb-50">
                            <div class="footer-tittle">
                                <h4>Liên kết nhanh</h4>
                                <ul>
                                    <li><a href="#">Tìm cửa hàng</a></li>
                                    <li><a href="#">Dành cho đối tác</a></li>

                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-5 col-sm-7">
                        <div class="single-footer-caption mb-50">
                            <div class="footer-tittle">
                                <h4>Dịch vụ khách hàng</h4>
                                <ul>
                                    <li><a href="#">Các câu hỏi thường gặp</a></li>
                                    <li><a href="#">Điều khoản và điều kiện</a></li>
                                    <li><a href="#">chính sách bảo mật</a></li>
                                    <li><a href="#">Báo cáo vấn đề thanh toán</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Footer bottom -->
                <div class="row">
                    <div class="col-xl-7 col-lg-7 col-md-7">
                        <div class="footer-copy-right">
                            <p>

                                Copyright &copy;
                                <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="ti-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>

                            </p>
                        </div>
                    </div>
                    <div class="col-xl-5 col-lg-5 col-md-5">
                        <div class="footer-copy-right f-right">
                            <!-- social -->
                            <div class="footer-social">
                                <a href="#"><i class="fab fa-twitter"></i></a>
                                <a href="#"><i class="fab fa-facebook-f"></i></a>
                                <a href="#"><i class="fab fa-behance"></i></a>
                                <a href="#"><i class="fas fa-globe"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer End-->

    </footer>



    <!-- JS here -->
    <!-- All JS Custom Plugins Link Here here -->
    <script src="~/Content/assets/nguoidung/js/vendor/modernizr-3.5.0.min.js"></script>
    <!-- Jquery, Popper, Bootstrap -->
    <script src="~/Content/assets/nguoidung/js/vendor/jquery-1.12.4.min.js"></script>
    <script src="~/Content/assets/nguoidung/js/popper.min.js"></script>
    <script src="~/Content/assets/nguoidung/js/bootstrap.min.js"></script>
    <!-- Jquery Mobile Menu -->
    <script src="~/Content//assets/nguoidung/js/jquery.slicknav.min.js"></script>

    <!-- Jquery Slick , Owl-Carousel Plugins -->
    <script src="~/Content/assets/nguoidung/js/owl.carousel.min.js"></script>
    <script src="~/Content/assets/nguoidung/js/slick.min.js"></script>

    <!-- One Page, Animated-HeadLin -->
    <script src="~/Content/assets/nguoidung/js/wow.min.js"></script>
    <script src="~/Content/assets/nguoidung/js/animated.headline.js"></script>
    <script src="~/Content/assets/nguoidung/js/jquery.magnific-popup.js"></script>

    <!-- Scrollup, nice-select, sticky -->
    <script src="~/Content/assets/nguoidung/js/jquery.scrollUp.min.js"></script>
    <script src="~/Content/assets/nguoidung/js/jquery.nice-select.min.js"></script>
    <script src="~/Content/assets/nguoidung/js/jquery.sticky.js"></script>

    <!-- contact js -->
    <script src="~/Content/assets/nguoidung/js/contact.js"></script>
    <script src="~/Content/assets/nguoidung/js/jquery.form.js"></script>
    <script src="~/Content/assets/nguoidung/js/jquery.validate.min.js"></script>
    <script src="~/Content/assets/nguoidung/js/mail-script.js"></script>
    <script src="~/Content/assets/nguoidung/js/jquery.ajaxchimp.min.js"></script>

    <!-- Jquery Plugins, main Jquery -->


    <script src="~/Content/assets/nguoidung/js/plugins.js"></script>
    <script src="~/Content/assets/nguoidung/js/main.js"></script>
    <script>
        $('#btn-guiphanhoi').click(function () {
            var noidung = $('#noidung-phanhoi').val();
            window.location.href = '/Home/PhanHoi?noidung=' + noidung;
        });
    </script>
    @RenderSection("taohoadonban", required: false)
    @RenderSection("danhgiasanpham", required: false)
    @RenderSection("sanphamnguoidung", required: false)
    @RenderSection("sanpham_nguoidung", required: false)
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBGDw0EZ0EXdgFdbXAabAifdJ-TP7JV7xc&callback=initMap">
    </script>

</body>
</html>

