<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Nhân Viên</title>

    <link href="~/Content/assets/admin/css/style.css" rel="stylesheet" />
    <link href="~/Content/assets/nhanvien/style.css" rel="stylesheet" />
    <!-- Jquery -->
    @*<script src="~/Content/assets/nhanvien/jquery.min.js"></script>
    <link href="~/Content/assets/nhanvien/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/assets/nhanvien/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Content/assets/nhanvien/popper.min.js"></script>*@
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/font-awesome@4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="header-nhanvien">
        <div class="container">
            <header id="header" class="header row">
                <div class="top-left col-md-3">
                    <a class="navbar-brand" href="./"><img src="~/Content/images/logo.png" alt="Logo"></a>
                </div>
                @Html.Action("TenChiNhanh", "HomeNhanVien")
                <div class="top-right col-md-3">
                    <div class="header-menu">
                        <div class="header-left">





                            @Html.Action("TongHoaDon", "HomeNhanVien")
                        </div>

                        <div class="user-area dropdown float-right">
                            @Html.Action("TenDangNhap", "HomeNhanVien")
                        </div>

                    </div>
                </div>
            </header>
        </div>
    </div>



    @RenderBody()
    @RenderSection("locsanpham", required: false)
</body>
</html>